<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.mobilestudio.chatme">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Authentication.SignUp.SignUpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Authentication.Login.LoginActivity" />
        </activity>
        <activity android:name=".Authentication.Login.LoginActivity"/>
        <activity android:name=".Authentication.ForgotPassword.ForgotPasswordActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Authentication.Login.LoginActivity" />
        </activity>
        <activity android:name=".Screens.PeopleList.PeopleList"></activity>
        <activity android:name=".Screens.Chat.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Screens.PeopleList.PeopleList" />
        </activity>
        <activity android:name=".Authentication.Splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>