<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.mobilestudio.chatme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <service
            android:exported="false"
            android:name=".MyJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <activity android:name=".authentication.signUp.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".authentication.login.LoginActivity" />
        </activity>
        <activity android:name=".authentication.login.LoginActivity" />
        <activity android:name=".authentication.forgotPassword.ForgotPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".authentication.login.LoginActivity" />
        </activity>
        <activity android:name=".screens.peopleList.PeopleList" />
        <activity android:name=".screens.chat.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.peopleList.PeopleList" />
        </activity>
        <activity android:name=".authentication.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screens.peopleList.PeopleList" />
        </activity>
        <activity android:name=".screens.EditProfile">
        </activity>
        <receiver android:name=".Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
    </application>

</manifest>